/* for all buttons */

button {
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-txt);
  outline: none;
  border: none;
  padding: 0.22em 0.88em;
  font-weight: 400;
  border-radius: var(--br-s);
  transition: color 0.3s, background 0.3s;
}
button:hover {
  background: var(--clrbg);
  color: var(--clr-txt);
}

/* square-round btns */

.btn-hero {
  transition: color 0.2s 0s, background 0.2s 0s;
  border-radius: 50em;
  padding: 0.6em 1.8em;
  background: var(--clr1);
  color: var(--clr-bg-con);
  font-weight: 600;

  letter-spacing: 0.05em;
}
.btn-hero:hover {
  background: var(--clr1-hover);
  color: var(--clr-bg-con);
}
.btn-outline {
  transition: color 0.2s 0s, background 0.2s 0s;
  border-radius: 0.5em;
  padding: 0.3em 1.2em;
  background: var(--clrbg);
  border: 1px solid var(--clr1);
  background: var(--clrbg);
}

.btn-outline:hover {
  background: var(--clr1-hover);
}
.btn-primary {
  transition: color 0.2s 0s, background 0.2s 0s;
  border-radius: 0.5em;
  padding: 0.3em 1.2em;
  background: var(--clrbg);
  border: 1px solid var(--clr1);
  background: var(--clr1);
}

.btn-primary:active {
  background-color: var(--clr1-hover);
}
.btn-primary:hover {
  background: var(--clr1);
}
.btn-secondary {
  background-color: var(--clrbg-light);
}

.btn-secondary:hover {
  background-color: transparent;
}

/* circle-round btns */
.btn-rnd-s {
  background-color: var(--clrbg-light);
}

.btn-rnd-s,
.btn-rnd-l {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3em !important;
  padding: 0;
}

.btn-rnd-s {
  width: 2rem;
  height: 2rem;
}

.btn-rnd-l {
  font-size: 1.15rem;
  width: 3rem;
  height: 3rem;
}
