.app-header {
  background-color: var(--clr1);
  position: sticky;
  top: 0;
}
.app-header .wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr;
  align-items: center;
  /* margin: -1.5em auto; */
  padding: 0 2em;
  padding: 1em 2em;
  position: relative;
}
.logo-container {
  /* position: relative; */
  /* width: 140px; */
}
.app-logo {
  position: absolute;
  top: -20%;
  max-width: 140px;

  margin: auto;
}
.app-logo {
  filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.274));
}
.main-nav {
  justify-self: end;
}
.main-nav ul {
  display: flex;
}
.main-nav ul > *:not(:last-child) {
  margin-inline-end: 0.75em;
}
.main-nav ul li a {
  text-transform: uppercase;
  color: var(--clr-txt);
}
