.toy-edit .edit-container label {
  max-width: 500px;
  /* display: flex; */
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
.edit-container {
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.toy-edit .edit-container label input {
  /* margin-inline-start: 2em; */
  max-width: 300px;
}
